@import "~normalize.css";
@import "_variables";
@import "modules/hello.scss";

body {
  /*background: $wtf;*/
  background: #552691;
 
  font-family: 'Open Sans', 'Sans-serif';
  color: #fff;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.header {
  &__title {
    display: none;
    text-align: center;
    letter-spacing: .2em;
    font-size: 40px;
    font-family: 'Akronim', Sans-serif;
    text-shadow: 0px 7px 4px rgba(150, 150, 150, 1);
   }
}
.text-editor {
  margin-top: -40px;
  padding: 32px;
    &__buttons {
      text-align: center;
      margin-top: 16px;
    }
    &__img {
      margin-left: -600px;
  }
    &__title {
       font-style: normal;
       font-size: 44px;
       font-weight: 600;
       line-height: 96px;
       margin-left: -40px;
       text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
    &__textarea {
      display: block;
      width: 450px;
      height: 400px;
      margin: 0 auto;
      margin-top: -130px;
      border-radius: 5px;
      box-shadow:
      0 1.1px 0.8px rgba(0, 0, 0, 0.052),
      0 2.5px 1.8px rgba(0, 0, 0, 0.075),
      0 4.5px 3.2px rgba(0, 0, 0, 0.092),
      0 7.5px 5.3px rgba(0, 0, 0, 0.108),
      0 12.4px 8.7px rgba(0, 0, 0, 0.125),
      0 21.7px 15.3px rgba(0, 0, 0, 0.148),
      0 47px 33px rgba(0, 0, 0, 0.2)
    ;
  }
    &__load {
      background: #121232;
      color: #FFFFFF;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: .2em;
      width: 99px;
      height: 40px;
      margin: 16px;
      border-radius: 4px;
    }
    &__save {
      background: #FAFAFC;
      color: #121323;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: .2em;
      width: 99px;
      height: 40px;
      margin: 16px;
      border-radius: 4px;
    }
    &__typewriter {
      width: 700px;
      height: 640px;
      margin-top: -190px;
      margin-left: -6px;
    }
}